body{
    font-family: poppins;
    background-image: url(../Images/bookshelf2.jpg);
    overflow: hidden;
}
.navbar{
    padding-left: 40px;
    padding-right: 40px;
    scroll-behavior: smooth;
    width: 80%;
    left: 10%;
    margin-top: 20px;
    border-radius: 35%;

}
table{
    font-size: vw;
    color: white;
}